body {
    background-color: grey;
}

.each-slide {
  
    height: 80vh;
   

}

.images {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 540px 675px;
    background-position: center;
 
 
}

